body{
    padding: 10% 25%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.titulo{
    margin: -2% 0%;
    color: rgb(240, 64, 64);
}   
h2{
    margin-bottom: 5%;
}
mark{
    background-color: white;
    font-weight: bold;
}
.imgPrincipal{
    width: 100%;
    margin: 0% 0%;
}
hr{
    margin-top: 10%;
}
.footer{
    height: 5%;
    width: 5%;
    display: flex;
    flex-direction: row;  
    padding: 0% 35%;
    margin-top: 3%;
}
img {
    max-width: 100%;
    max-height: 100%;
    margin: 0% 15%;
}